.canvas-container {
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
#canvas {
    position: relative;
    background-color: lightcyan;
}
#startButton {
    position: absolute;
    left: 30%;
    top: 40%;
}